@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Belanosima', sans-serif;
  @apply bg-gradient-to-tl from-slate-500 to-blue-500 text-white bg-fixed h-full text-sm md:text-lg;
}

.page {
  @apply min-h-[calc(100vh-3.5rem)] mx-auto pt-8 p-2 overflow-y-auto container;
}

.page-sm {
  @apply max-w-sm mx-auto;
}

.input-wrapper {
  @apply flex items-center gap-1;
}

input {
  @apply bg-transparent border-none h-full text-base w-full text-[#130F49] md:text-lg md:w-full focus:outline-none bg-white rounded-lg;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1 {
  @apply text-4xl font-bold text-primary md:text-7xl z-10;
}

h2 {
  @apply text-2xl font-bold text-primary md:text-4xl z-10;
}
