@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Belanosima', sans-serif;
  @apply bg-gradient-to-tl from-slate-500 to-blue-500 text-white bg-fixed h-full text-sm md:text-lg;
}

.page {
  @apply max-w-screen-lg mx-auto pt-20 md:pt-24 px-3;
}

.page-sm {
  @apply max-w-sm mx-auto;
}

.input-wrapper {
  @apply bg-white rounded-lg h-12 shadow-blue-500/50 flex items-center;
}

input {
  @apply bg-transparent border-none h-full text-base w-full mx-3 text-[#130F49] md:text-lg md:w-full focus:outline-none bg-white rounded-lg;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

h1 {
  @apply text-4xl font-bold text-primary md:text-7xl z-10;
}

h2 {
  @apply text-2xl font-bold text-primary md:text-4xl z-10;
}

.btn {
  @apply px-5 py-2 rounded-full m-1 font-bold text-sm text-center disabled:opacity-30 transition;
}

.button {
  @apply btn bg-primary rounded-xl;
}

button:disabled,
button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
